.paragraph {
    font-family: FuturaPT, Helvetica, Arial, sans-serif;
    font-size: 17px;
    font-weight: 200;
    line-height: 1.38;
    text-align: left;
    margin: 0px;
    padding: 8px;
    letter-spacing: 2px;
    text-decoration: wavy;
}

.Title {
    text-align: center;
    text-transform: uppercase;
}

ul {
    list-style: none;
}


ul div{
    text-align: center;
}
.subtitle{
    text-align: center;
    padding: 10px;
}