.border {
  border-color: #3498db !important;
  color: black;
}
.matme {
  color: white;
  background-color: #1a1a1d;
}
.border-2 {
  background-color: white;
  color: black;
  border-color: #3498db !important;
}
.nayek {
  color: #1a1a1d;
}
.nayek.active {
  background-color: #3498db !important;
  border-color: #1a1a1d;
  color: white;
}
.btn {
  background-color: #3498db !important;
  border-color: #1a1a1d !important;
  color: white;
}

.col {
  margin: 10px !important;
  padding: 10px;
}
ul {
  list-style: none;
  padding: 10px;
  margin: 10px;
  font-size: 20px;
}
ul li {
  padding: 2px;
}
.sub-title {
  color: var(--first-color-light);
  font-size: xx-large;
}
.card{
  background-color: var(--first-color) !important;
} 
.question{
  list-style: square;
  text-align: center;
  font-size: medium;
  padding: 10px;
  line-height: normal;
  margin: 10px;
}
.center{
  text-align: center;
}
.box{
  padding: 10px;
}
.question-a{
  padding: 10px;
  line-height: normal;
  text-align: justify;
  margin: 10px;
}
.sketch{
  display: block;
  margin: auto;
  height: 400px;
  width: 400px;
}