.border {
  border-color: var(--first-color-light) !important;
  color: black;
}

.matme {
  color: white;
  background-color: #1a1a1d;
}

.border-2 {
  background-color: white;
  color: black;
  border-color: var(--first-color-light) !important;
}



.nayek.active {
  background-color: var(--first-color-light) !important;
  border-color: #1a1a1d;
  color: white;
}

.btn {
  background-color: #3498db !important;
  border-color: #1a1a1d !important;
  color: white;
}

.card {
  margin: 100px;
  padding: 100px;
}
